<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Affichage villes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <h2>Affichage des villes</h2>
    <table>
        <caption>Liste des villes</caption>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Population</th>
                <th>Pays</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
	{{#cities}}
            <tr>
                <td>{{name}}</td>
                <td>{{population}}</td>
                <td>{{country.name}}</td>
                <td>
                    <a href='edit?id={{id}}'>Modifier</a> 
                    <a href='delete?id={{id}}'>Supprimer</a>
		</td>
            </tr>
        {{/cities}}
    </table>
    <h2>Ajouter une ville :</h2>
    {{! On appelle l'URL 'add' du contôleur }}
    <a href='add'>Ajouter une ville</a>
</body>
</html>